/*фон*/
body {
  background-image: url(img/background.jpg);
  font: 1em 'Open Sans', sans-serif;
}

/*для расположения меню по центру*/
.nav-menu {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

.spisok {
  display: flex;
  justify-content: center;
  text-align: center list-style-type: none;
}

.spisok li {
  list-style-type: none;
}

/*стиль всех ссылок в проекте*/
a {
  text-decoration: none;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: red;
}

/*форматирование списка ссылок*/
li {
  padding: 10px;
  text-align: center;
}

/*вид текст ссылок в списке*/
li .a {
  font-family: sans-serif;
}

/*текст в main*/
section {
  text-align: center;
  word-wrap: break-word;
}

/*-------hobbies-----*/
.first {
  text-align: center;
  font-style: italic;
}

.second {
  text-align: center;
}

.third {
  text-align: center;
}

.text {
  text-align: center;
}

.imageh {
  display: inline-block;
  margin: 20px;
}

.myhobbies {
  text-align: center;
}

.works {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.books {
  font-size: 1.17em;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.books li {
  list-style-type: square;
}

/*-----------------------------------*/
/*education*/
.table {
  width: 650px;
  margin: auto;
  text-align: center;
}

.imageed {
  display: inline-block;
  text-align: center;
}

.ImagesEducation {
  text-align: center;
  margin-top: 20px;
}

/*тест*/
.testbjd {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

/*кнопки отправки и очистки формы*/
.buttons {
  text-align: center;
  margin-top: 30px;
}

/*элементы формы связи*/
.contactform {
  border-style: outset;
  border-width: medium;
  border-color: #6495ED;
  background: #b7c2ff;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
  width: 550px;
  margin-left: 650px;
  height: 480px;
}

.head1 {
  margin-bottom: 30px;
}

/*-------фотоальбом------**/
.boxContainer {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.boxItem {
  margin: 20px;
}

.image {
  display: inline-block;
  transition: 1s;
}

.image:hover {
  transform: scale(1.1);
}
