/*фон*/
body {
  background-image: url(img/background.jpg);
  font: 1em 'Open Sans', sans-serif;
}

/*для расположения меню по центру*/
.nav-menu {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

/*стиль всех ссылок в проекте*/
a {
  text-decoration: none;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: red;
}

/*форматирование списка ссылок*/
li {
  padding: 10px;
  text-align: center;
}

/*вид текст ссылок в списке*/
li .a {
  font-family: sans-serif;
}

/*текст в main*/
section {
  text-align: center;
  word-wrap: break-word;
}

/*-------hobbies-----*/
.first {
  text-align: center;
  font-style: italic;
}

.second {
  text-align: center;
}

.third {
  text-align: center;
}

.text {
  text-align: center;
}

.imageh {
  display: inline-block;
  margin: 20px;
}

.myhobbies {
  text-align: center;
}

.compositions {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.books {
  font-size: 1.17em;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.books li {
  list-style-type: square;
}

.spisok {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

.spisok li {
  list-style-type: none;
}

/*education*/
.table {
  width: 650px;
  margin: auto;
  text-align: center;
}

.imageed {
  display: inline-block;
  text-align: center;
}

.ImagesEducation {
  text-align: center;
  margin-top: 20px;
}

/*тест*/
.testbjd {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

/*кнопки отправки и очистки формы*/
.buttons {
  text-align: center;
  margin-top: 30px;
}

/*элементы формы связи*/
.contactform {
  border-style: outset;
  border-width: medium;
  border-color: #6495ED;
  background: #b7c2ff;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
  width: 550px;
  margin-left: 650px;
}

.head1 {
  margin-bottom: 30px;
}

img {
  text-align: center;
}

figcaption {
  text-align: center;
}

.nav-menu>li>ul {
  padding: 0;
  list-style-type: none;
}

.doc_time {
  font-family: 'Share Tech Mono', monospace;
  color: #8b00ff;
  text-align: center;
  left: 50%;
  top: 50%;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.data table {
  margin: 2% 2% 6% 104.6%;
  text-align: center;
  border: 2px solid #9a89e9;
  border-radius: 5%;
  background: white;
}

.data td {
  border-left: 1px solid #9a89e9;
  border-bottom: 1px solid #9a89e9;
  cursor: pointer;
}

[id='calendar'], .div {
  text-align: center;
}

.data select {
  border-color: #9a89e9;
}

.notFocus {
  border-color: #16a085;
}

.inFocus {
  border-color: #9a89e9;
}

input[type="button"] {
  background-color: #9a89e9;
  border-color: #9a89e9;
  padding: 1%;
  color: white;
  border-radius: 4px;
}

.no {
  background-color: lightcoral;
}

.yes {
  background-color: lightgreen;
}

.selectDay {
  background-color: #9a89e9;
}

.data select {
  margin: 2% 0% 0% 104%;
}

pre {
  color: lightcoral;
  display: none;
}

[id="submit"][disabled=true], [id="submit"][disabled=""] {
  background-color: #939394;
}

[id="submit"][disabled=false] {
  background-color: #16a085;
}

img.inTable {
  cursor: pointer;
  text-align: center;
}

figcaption {
  text-align: center;
}

.closingDiv {
  position: absolute;
  margin: 2% 0 0 85%;
  width: 30px;
  height: 25px;
  color: #16a085;
  cursor: pointer;
}

.closingDiv:after {
  text-shadow: 0 0 10px 7px rgb(229, 253, 230);
  content: '\2715';
}

/*история посещений и другие таблицы*/
table {
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  margin: 15px 0px;
  border-bottom-width: 0px;
}

table th:not(:last-child), table td:not(:last-child) {
  border-right: 1px solid rgb(230, 230, 230);
}

table th {
  color: #6a6a6a;
  font-size: 1.2em;
}

table th, table td {
  border-bottom: 1px solid rgb(230, 230, 230);
}

table td {
  text-align: center;
}

/*вывод списка ссылок моих хобби*/
.nav>ul>li>a:hover,
.nav>ul>li>a:focus {
  color: white;
  padding-left: 15px;
}

ul[id="submenu"] li a:focus,
ul[id="submenu"] li a:hover {
  color: white;
  padding-left: 10px;
}

/*вывод фоток со стрелками 4 лр*/
.nextDiv, .backDiv{
    border-radius: 50%;
    font-size: 36px;
    background: #6495ED;
    position: absolute;
    color:  white;
    width: 50px;
    height: 50px;
    margin-top: 25%;
    text-align: center;
    cursor: pointer;
    box-shadow:  0 0 20px 7px white;
}

.fotoMax {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  /* display:none; */
  text-align: center;
  width: 100%;
  height: 100%;
}

.fotoMax img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 90px 20px #191919;
}

/*подсказки*/
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
  }


  .popover.right {
    margin-left: 10px;
  }
  .popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
       -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
  }

  .popover-title:empty {
    display: none;
  }

  .popover-content {
    padding: 9px 14px;
  }

  .popover .arrow,
  .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  .popover .arrow {
    border-width: 11px;
  }

  .popover .arrow:after {
    border-width: 10px;
    content: "";
  }

  .popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
  }

  .popover.right .arrow:after {
    bottom: -10px;
    left: 1px;
    border-right-color: #ffffff;
    border-left-width: 0;
  }

  .popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-width: 0;
  }

  .popover.left .arrow:after {
    right: 1px;
    bottom: -10px;
    border-left-color: #ffffff;
    border-right-width: 0;
  }

/*модальное окно*/
[id="modalWindow"] {
	display: none;
}
[id="modalWindow"]:before {
	content: '';
    background: #000;
    filter: blur(0px);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 100;
}

[id="modalDiv"] {
    position: fixed;
    filter: blur(0px);
	top: 40%;
	left: 40%;
    /* margin-left: -200px;	 */
    height: 100px;
    width: 200px;
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px;
	z-index: 1000;
	opacity: 1;
}
.close{
	position: absolute;
	top: 60px;
}
[id="yes"] {
    left: 35%;
}
[id="no"] {
    left: 55%;
}
